<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
    <add name="ANNABABA.Properties.Settings.AnnaBabaAnnadhanamReceiptsConnectionString"
         connectionString="Data Source=|DataDirectory|\AnnaBabaAnnadhanamReceipts.sdf"
         providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ANNABABA.Properties.Settings.ABCAnadhanamDetailsConnectionString"
         connectionString="Data Source=|DataDirectory|\Resources\ABCAnadhanamDetails.sdf"
         providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="connectionstr"
         connectionString="Data Source=D:\AnnaBaba\ABCAnadhanamDetails.sdf"
         providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ANNABABA.Properties.Settings.AnnaBabaAnnadhanamReceiptsConnectionString1"
         connectionString="Data Source=D:\AnnaBabaAnnadhanamReceipts.sdf"
         providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ANNABABA.Properties.Settings.ABCAnadhanamDetailsConnectionString1"
         connectionString="Data Source=|DataDirectory|\ABCAnadhanamDetails.sdf"
         providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ANNABABA.Properties.Settings.ABCReportCS"
         connectionString="Data Source=D:\AnnaBaba\ABCAnadhanamDetails.sdf"
         providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Conn"
         connectionString="Data Source=SAIBABA\SQLEXPRESS;Initial Catalog=AnnaBabaCharities;Integrated Security=True"/>
  </connectionStrings>

</configuration>